%h4 Has backend login?
%p
  - if @reader.user
    Yes
    - parts = []
    - parts << "admin" if @reader.user.admin?
    - parts << "designer" if @reader.user.designer?
    - group_count = @reader.groups.count
    - parts << pluralize(group_count, 'group') if group_count > 0
    = "(#{parts.join(' | ')})" unless parts.empty?
  - else
    - if @reader.new_record?
      You need to save this reader before you can build a backend login for it.
    - else
      = link_to('create', build_user_path(@reader.id), :method => :post)